.Recipe {
    margin-top: 70px;
    margin-left: 30px;
}

/** RecipeForm **/

.inputText {
    margin-bottom: 20px;
    margin-top: 10px;
    width:100%;
    padding: 15px;
    border-radius:5px;
    border:1px solid #A9A9A9;
    display: inline-block;
}


textarea {
    width:100%;
    padding: 15px;
    margin-top: 10px;
    border:1px solid #A9A9A9;
    border-radius:5px;
    margin-bottom: 20px;
    resize:none;
}
.input-text:focus,textarea:focus {
    border-color: #4697e4;
}
